<div class="container">
    <div class="row py-4">        
        <div class="col-md-9 border-right" *ngIf="course">
            <div class="row">
                <div class="d-block">
                    <p class="course-title">{{course.courseTitle}}</p>
                </div>
                <div class="col-md-12">
                    <span class="m-2 pull-left text-success"><h3>Course Content</h3></span>
                    <a class="btn btn-primary pull-left" (click)="newChapter()" *ngIf="utype=='teacher'">New Chapter</a>
                    <a class="btn btn-success pull-left" (click)="productRate()" *ngIf="utype=='teacher'">Rates</a>
                </div>
            </div>
            <app-course-syllabus [course]="course" [syllabus]="syllabus" [paidStatus]="paidStatus"></app-course-syllabus>         
        </div>
        <div class="col-md-3">
            <!-- check if course is paid or not             -->
            <div *ngIf="!isCoursePaid()">
                <div class="alert alert-danger" role="alert">
                    You have not purchased this course yet, <br>
                    please purchase to unlock all the topics  <br>
                    <a class="btn btn-success" (click)="makePurchase()">Purcahse Now</a>                   
                </div>
            </div>
        </div>
    </div>
</div>
