<div class="container">
    <div class="d-flex">
        <h3 class="border-bottom">All Categories</h3>
        <a class="btn btn-success btn-sm ml-auto" (click)="openForm(null)">Add New</a>
    </div>    
    <div>
        <table class="table table-sm text-white table-borderless">
            <tr>
                <th>Category</th>
                <th>Link</th>
                <th>Display Home</th>
                <th class="text-right">Action</th>
            </tr>
            <tr *ngFor="let category of categories">
                <td>{{ category.name }}</td>
                <td>{{ category.link }}</td>
                <td>{{ category.displayHome }}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <a class="btn btn-primary btn-sm" (click)="openForm(category)">Edit</a>                        
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>