<div class="target-section">
    <h1 class="my-5">Designed For</h1>
    <div class="target-for">        
        <div class="card t-card">
            <div class="card-body">
                Student
            </div>        
        </div>
        <div class="card t-card">
            <div class="card-body">
                Developer (Senior/Junior)
            </div>
        </div>
        <div class="card t-card">
            <div class="card-body">
                Professional
            </div>
        </div>
        <div class="card t-card">
            <div class="card-body">
                Accountants
            </div>
        </div>            
        <div class="card t-card">
            <div class="card-body">
                Student
            </div>        
        </div>
        <div class="card t-card">
            <div class="card-body">
                Developer (Senior/Junior)
            </div>
        </div>
        <div class="card t-card">
            <div class="card-body">
                Professional
            </div>
        </div>
        <div class="card t-card">
            <div class="card-body">
                Accountants
            </div>
        </div>            
    </div>
</div>
