<div class="flow-section py-5">
    <h1>Path We Follow</h1>
    <ul class="steps my-5">
        <li class="step step-success">
            <div class="step-content">
            <span class="step-circle">1</span>
            <span class="step-text">Start</span>
            </div>
        </li>
        <li class="step step-active">
            <div class="step-content">
            <span class="step-circle">2</span>
            <span class="step-text">Learn</span>
            </div>
        </li>
        <li class="step">
            <div class="step-content">
            <span class="step-circle">3</span>
            <span class="step-text">Experience</span>
            </div>
        </li>
        <li class="step">
            <div class="step-content">
            <span class="step-circle">4</span>
            <span class="step-text">Expert</span>
            </div>
        </li>
    </ul>
</div>
