<!-- <div class="row" *ngIf="utype=='teacher'">
    <div class="col-md-12">
        <span class="m-2 pull-left text-success">Your Courses</span>
        <a class="btn btn-outline-primary pull-left" routerLink="/courses/new" *ngIf="utype=='teacher'">New Course</a>
    </div>
</div>
<div class="card" *ngIf="utype=='teacher'">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4 mb-5" *ngFor="let course of courses.my_courses">
                <app-course-card [course]='course' [is_enrolled]="'false'"></app-course-card>
            </div>
        </div>       
    </div>
</div> -->

<!-- <div class="row">
    <div class="col-md-12">
        <span class="m-2 pull-left text-success">Enrolled Courses</span>
        <a class="btn btn-outline-primary pull-left" routerLink="/courses/new" *ngIf="utype=='teacher'">New Course</a>
    </div>
</div>
<div class="card">
    <div class="card-body">        
        <div class="row" *ngIf="courses">
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4 mb-5" *ngFor="let ec of courses.enrolled_course">
                <app-course-card [course]='ec.course' [is_enrolled]="true"></app-course-card>
            </div>
        </div>
        <div class="row" *ngIf="courses.enrolled_course.length == 0">
            <div class="alert alert-danger" role="alert">
                You have not enrolled to any courses
            </div>
        </div>
    </div>
</div> -->
<!--  -->

<div class="course-preview-section" *ngFor="let category of categories">
    <h3>{{ category.name }}</h3>
    <div class="course-card-list">
        <app-course-card [course]='course' [is_enrolled]="false" *ngFor="let course of category.courses"></app-course-card>
    </div>
</div>
