.filter-section {
    margin: 1rem 0;
}

.course-preview-section {
    margin: 2rem 0;
}

.course-card-list {
    display: flex;
    flex-direction: row;
}

.course-card {
    height: 250px;
    width: 200px;
    background-color: #EEEEEE;
}

.course-card:not(:first-child) {
    margin: 0 0.5rem;
}


/* FITLER BUTTONS */
.btn-filter {    
    font-weight: bold;
    margin: 0 2px;
}

