<div class="content-wrapper">
    <!-- Filter Area -->
    <div class="filter-section">
        <button type="button" class="btn btn-filter">ALL</button>
        <button type="button" class="btn btn-filter">NEW</button>
        <button type="button" class="btn btn-filter">POPULAR</button>
        <button type="button" class="btn btn-filter">COMMING</button>
        <button type="button" class="btn btn-filter">EVENTS</button>
    </div>
    <!-- Fitler Area ended -->

    <!-- Programming Course Preview -->
    <div class="course-preview-section">
        <h3>Programming Courses</h3>
        <div class="course-card-list">
            <div class="course-card">
                <img src="assets/images/image1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The Complete JavaScript Course 2020: Build Real Projects</h5>
                </div>
            </div>

            <div class="course-card">
                <img src="assets/images/image1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The Complete JavaScript Course 2020: Build Real Projects</h5>
                </div>
            </div>
            <div class="course-card">
                <img src="assets/images/image1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The Complete JavaScript Course 2020: Build Real Projects</h5>
                </div>
            </div>
            <div class="course-card">
                <img src="assets/images/image1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The Complete JavaScript Course 2020: Build Real Projects</h5>
                </div>
            </div>
            <div class="course-card">
                <img src="assets/images/image1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The Complete JavaScript Course 2020: Build Real Projects</h5>
                </div>
            </div>
            <div class="course-card">
                <img src="assets/images/image1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The Complete JavaScript Course 2020: Build Real Projects</h5>
                </div>
            </div>
            <div class="course-card">
                <img src="assets/images/image1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The Complete JavaScript Course 2020: Build Real Projects</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="course-preview-section">
        <h3>Programming Courses</h3>
        <div class="course-card-list">
            <div class="course-card">
                <img src="assets/images/image1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The Complete JavaScript Course 2020: Build Real Projects</h5>
                </div>
            </div>

            <div class="course-card">
                <img src="assets/images/image1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The Complete JavaScript Course 2020: Build Real Projects</h5>
                </div>
            </div>
            <div class="course-card">
                <img src="assets/images/image1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The Complete JavaScript Course 2020: Build Real Projects</h5>
                </div>
            </div>
            <div class="course-card">
                <img src="assets/images/image1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The Complete JavaScript Course 2020: Build Real Projects</h5>
                </div>
            </div>
            <div class="course-card">
                <img src="assets/images/image1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The Complete JavaScript Course 2020: Build Real Projects</h5>
                </div>
            </div>
            <div class="course-card">
                <img src="assets/images/image1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The Complete JavaScript Course 2020: Build Real Projects</h5>
                </div>
            </div>
            <div class="course-card">
                <img src="assets/images/image1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The Complete JavaScript Course 2020: Build Real Projects</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="course-preview-section">
        <h3>Programming Courses</h3>
        <div class="course-card-list">
            <div class="course-card">
                <img src="assets/images/image1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The Complete JavaScript Course 2020: Build Real Projects</h5>
                </div>
            </div>

            <div class="course-card">
                <img src="assets/images/image1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The Complete JavaScript Course 2020: Build Real Projects</h5>
                </div>
            </div>
            <div class="course-card">
                <img src="assets/images/image1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The Complete JavaScript Course 2020: Build Real Projects</h5>
                </div>
            </div>
            <div class="course-card">
                <img src="assets/images/image1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The Complete JavaScript Course 2020: Build Real Projects</h5>
                </div>
            </div>
            <div class="course-card">
                <img src="assets/images/image1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The Complete JavaScript Course 2020: Build Real Projects</h5>
                </div>
            </div>
            <div class="course-card">
                <img src="assets/images/image1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The Complete JavaScript Course 2020: Build Real Projects</h5>
                </div>
            </div>
            <div class="course-card">
                <img src="assets/images/image1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The Complete JavaScript Course 2020: Build Real Projects</h5>
                </div>
            </div>
        </div>
    </div>

</div>