<div class="conatiner-fluid">
    <!-- Header area start -->
    <nav class="navbar navbar-expand-lg main-heading-bg">
        <a class="navbar-brand" href="#">PRAYOGSALA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav  ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Course</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Account</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Header area ended -->

    <div class="content-wrapper">
        <!-- Filter Area -->
        <div class="filter-section">
            <button type="button" class="btn btn-filter">ALL</button>
            <button type="button" class="btn btn-filter">NEW</button>
            <button type="button" class="btn btn-filter">POPULAR</button>
            <button type="button" class="btn btn-filter">COMMING</button>
            <button type="button" class="btn btn-filter">EVENTS</button>
        </div>
        <!-- Fitler Area ended -->

        <!-- Programming Course Preview -->
        <div class="course-preview-section">
            <h3>Programming Courses</h3>
            <div class="course-card-list">
                <div class="course-card">
                    <img src="assets/images/image1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">The Complete JavaScript Course 2020: Build Real Projects</h5>
                    </div>
                </div>

                <div class="course-card">
                    <img src="assets/images/image1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">The Complete JavaScript Course 2020: Build Real Projects</h5>
                    </div>
                </div>
                <div class="course-card">
                    <img src="assets/images/image1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">The Complete JavaScript Course 2020: Build Real Projects</h5>
                    </div>
                </div>
                <div class="course-card">
                    <img src="assets/images/image1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">The Complete JavaScript Course 2020: Build Real Projects</h5>
                    </div>
                </div>
                <div class="course-card">
                    <img src="assets/images/image1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">The Complete JavaScript Course 2020: Build Real Projects</h5>
                    </div>
                </div>
                <div class="course-card">
                    <img src="assets/images/image1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">The Complete JavaScript Course 2020: Build Real Projects</h5>
                    </div>
                </div>
                <div class="course-card">
                    <img src="assets/images/image1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">The Complete JavaScript Course 2020: Build Real Projects</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="course-preview-section">
            <h3>Programming Courses</h3>
            <div class="course-card-list">
                <div class="course-card">
                    <img src="assets/images/image1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">The Complete JavaScript Course 2020: Build Real Projects</h5>
                    </div>
                </div>

                <div class="course-card">
                    <img src="assets/images/image1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">The Complete JavaScript Course 2020: Build Real Projects</h5>
                    </div>
                </div>
                <div class="course-card">
                    <img src="assets/images/image1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">The Complete JavaScript Course 2020: Build Real Projects</h5>
                    </div>
                </div>
                <div class="course-card">
                    <img src="assets/images/image1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">The Complete JavaScript Course 2020: Build Real Projects</h5>
                    </div>
                </div>
                <div class="course-card">
                    <img src="assets/images/image1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">The Complete JavaScript Course 2020: Build Real Projects</h5>
                    </div>
                </div>
                <div class="course-card">
                    <img src="assets/images/image1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">The Complete JavaScript Course 2020: Build Real Projects</h5>
                    </div>
                </div>
                <div class="course-card">
                    <img src="assets/images/image1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">The Complete JavaScript Course 2020: Build Real Projects</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="course-preview-section">
            <h3>Programming Courses</h3>
            <div class="course-card-list">
                <div class="course-card">
                    <img src="assets/images/image1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">The Complete JavaScript Course 2020: Build Real Projects</h5>
                    </div>
                </div>

                <div class="course-card">
                    <img src="assets/images/image1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">The Complete JavaScript Course 2020: Build Real Projects</h5>
                    </div>
                </div>
                <div class="course-card">
                    <img src="assets/images/image1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">The Complete JavaScript Course 2020: Build Real Projects</h5>
                    </div>
                </div>
                <div class="course-card">
                    <img src="assets/images/image1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">The Complete JavaScript Course 2020: Build Real Projects</h5>
                    </div>
                </div>
                <div class="course-card">
                    <img src="assets/images/image1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">The Complete JavaScript Course 2020: Build Real Projects</h5>
                    </div>
                </div>
                <div class="course-card">
                    <img src="assets/images/image1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">The Complete JavaScript Course 2020: Build Real Projects</h5>
                    </div>
                </div>
                <div class="course-card">
                    <img src="assets/images/image1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">The Complete JavaScript Course 2020: Build Real Projects</h5>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>