<div class="container">
    <div class="card main-bg-color">
        <div class="card-body d-flex">
            <div class="preview-button bg-primary content-center">
                Courses
                <span>5</span>
            </div>
            <div class="preview-button bg-primary content-center">
                Students
                <span>200</span>
            </div>
        </div>
    </div>
    <div class="card main-bg-color">
        <div class="card-body">
            <h5 class="border-bottom ml-3">Top courses</h5>
            <app-top-courses></app-top-courses>
            <div class="btn-group text-right d-block">
                <a class="btn btn-success">See All</a>
            </div>
        </div>
    </div>
</div>