<div class="course-form">
    <div class="card">
        <div class="card-header p-0">
            <h5 class="m-0">Add New Category</h5>
        </div>
        <div class="card-body">
            <form [formGroup]="form">
                <div class="form-group">
                    <label for="coursename">Enter Category</label>
                    <input type="text" class="form-control" id="coursename" formControlName="category">
                    <span class="text-danger" *ngIf="(formControls.category.touched || submited) &&
                        formControls.category.errors?.required">
                        Email is required
                    </span>
                </div>
                <div class="form-group">
                    <label for="link">Link</label>
                    <input type="text" class="form-control" id="link" formControlName="link">
                    <span class="text-danger" *ngIf="(formControls.link.touched || submited) &&
                        formControls.link.errors?.required">
                        Link is required
                    </span>
                </div>
                <div class="form-group">
                    <label for="link">Display Home ?</label>
                    <input type="checkbox" id="link" formControlName="displayHome">
                </div>
                <div class="btn-group">
                    <a class="btn btn-primary" (click)="save()">Save</a>
                    <a class="btn btn-danger" (click)="matDialogRef.close()">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>