<div class="course-form">
    <div class="card bg-dark">
        <div class="card-header p-0">
            <h5 class="m-0">Add New Category</h5>
        </div>
        <div class="card-body">          
                <div class="form-group">
                    <label for="coursename">Enter Category</label>
                    <input type="text" class="form-control" id="coursename" [(ngModel)]="category">
                </div> 
                <div class="form-group">
                    <label for="link">Link</label>
                    <input type="text" class="form-control" id="link" [(ngModel)]="link">
                </div>                
                <div class="btn-group">
                    <a class="btn btn-primary" (click)="save()">Save</a>
                    <a class="btn btn-danger" (click)="matDialogRef.close()">Cancel</a>
                </div>
        </div>
    </div>
</div>