/* You can add global styles to this file, and also import other style files */

.content-wrapper {
    margin: 0 2rem;
}

.login-form .text-title {
    font-weight: bold;
}

.preview-button {
    min-height: 100px;
    min-width: 10px;    
    padding: 10px;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 5px;    
}

.content-center
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-item-active-zoom:hover{
    cursor: pointer;
    font-weight: bold;
    transform: scale(1.001);
    transition: .15s linear;
}


.mat-dialog-padding-0 > .mat-dialog-container {
    padding: 0 !important;
}

.full-screen-modal {
    max-width: unset !important;
    width: 100%;
    height: 100%;
    
  }

  .full-screen-modal > .mat-dialog-container {
    max-width: 100vw;
    max-height: 100vh;
    height: 100%;
    width: 100%;
    padding: 0;
    
  }
  .full-screen-modal > .mat-dialog-container > .mat-dialog-content {
    max-height: unset !important;
  }
.ok-btn-group {
    display: flex;    
}

.ok-btn-group > .btn {
    flex-grow: 1;
}

.full-height {
    height: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
